@mixin navbar {
	display: flex;
	padding: 0.5% 1%;
	margin: 0;
	list-style: none;
}

header nav ul {
	@include navbar;
	background-color: $navigation;
}

footer nav ul {
	@include navbar;
	background-color: $navigation;
}

nav li a {
	text-decoration: none;
	color: $text;
}

nav li {
	margin: 0 1%;
	font-size: 150%;
}

nav li a:hover {
	color: $highlight;
}



